name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest , macos-latest, windows-latest ]
        go-version: [ '1.25', '1.26' ]
    steps:
      - name: Configure Windows
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf false # fixes go lint fmt error
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Lint
        uses: golangci/golangci-lint-action@v8
      - name: Test
        uses: n8maninger/action-golang-test@v2
        with:
          args: "-race;-tags='testing';-timeout=300s"
      - name: Build
        run: go build -o bin/ ./cmd/faucetd
